<div class="container">
  <div class="shop-name">
    <%= @shop.brand_name %>
  </div>

  <div class="card-section">
    <% @shop.clothes.where(bought: false).each do |clothe| %>
      <div class="card-product">
        <% if clothe.photo.attached? %>
          <%= link_to clothe_path(clothe) do %>
            <div  class="product-photo" >
              <div class="photo" style="background-image: url('<%= cl_image_path clothe.photo.key, height: 145, crop: :fill %>')">
              </div>
           </div>
          <% end %>
        <% end %>
            <div class="favorite" data-controller="favorite-clothe">
              <% if clothe.bookmark %>
                    <%= icon 'fas', 'heart', data: { cloth_id: clothe.id, action: 'click->favorite-clothe#favorite'} %>
              <% else %>
                    <%= icon 'far', 'heart', data: { cloth_id: clothe.id, action: 'click->favorite-clothe#favorite'} %>
              <% end %>
            </div>
      </div>
    <% end %>
  </div>
</div>
