<div class="container">
  <div class="d-none" data-search-clothes-target="cross">
    <div class="head-text">
      <h2>Filters</h2>
      <i class="fas fa-times white"  data-action="click->search-clothes#displayFilters"></i>
    </div>
  </div>
  <div class="category-wrapper">
    <%= simple_form_for :search, url: filter_avatar_path, method: :get, html: { class: "d-none", data: { search_clothes_target: 'filters' } }  do |f| %>
      <h3>Colors</h3>
      <%= f.input :colors,
              as: :check_boxes,
              legend_tag: false,
              :label => false,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'color-wrapper',
              item_wrapper_class: 'color-item',
              input_html: {class: 'color-selector'},
              collection: Clothe.all.pluck(:color).sort.uniq.map { |color| [color, color, color: color ] },
              include_hidden: false %>
      <h3>Category</h3>
      <%= f.input :categories,
              legend_tag: false,
              as: :check_boxes,
              collection: Clothe.all.pluck(:category, :category).uniq,
              input_html: { class: "tags-selector" },
              item_wrapper_class: 'tags-item',
              include_hidden: false %>
      <h3>Tags</h3>
      <%= f.input :tags,
              as: :check_boxes,
              legend_tag: false,
              collection: Tag.pluck(:name, :id),
              input_html: { class: "tags-selector" },
              item_wrapper_class: 'tags-item',
              include_hidden: false %>
      <div class="submit">
        <%= f.submit "Apply filter",
                class: "blue-button" %>
      <%= link_to clothes_path do %>
        <h3 class="red-button">Reset filters</h4>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
