<div class="navbar-dressup">
  <ul class="navbar-dressup-item">
    <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to root_path, class: "nav-link"  do %>
          <i class="fas fa-home"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to clothes_path, class: "nav-link"  do %>
          <i class="fas fa-tshirt"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_clothe_path, class: "nav-link"  do %>
        <i class="fas fa-plus"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to avatar_path, class: "nav-link"  do %>
          <i class="fas fa-male"></i>
        <% end %>
      </li>


      <li class="nav-item">
        <%= link_to shops_path, class: "nav-link"  do %>
          <i class="fas fa-shopping-bag"></i>
        <% end %>
      </li>

    <% end %>
  </ul>
</div>
