<div data-update-clothe-target="infos">
  <h3><%= clothe.name %></h3>
  <h3><strong>Brand: </strong><%= clothe.brand %></h3>
  <h3><strong>Size: </strong><%= clothe.size %></h3>
  <h3><strong>Color: </strong><%= clothe.color %></h3>
  <h3><strong>Fabric: </strong><%= clothe.material %></h3>
</div>
