<div data-update-clothe-target="infos">
  <h3>Name: <%= clothe.name %></h3>
  <h3>Category: <%= clothe.category %></h3>
  <h3>Brand: <%= clothe.brand %></h3>
  <h3>Size: <%= clothe.size %></h3>
  <h3>Color: <%= clothe.color %></h3>
  <h3>Fabric: <%= clothe.material %></h3>
</div>
