<div class="container" data-controller="search-clothes">
  <div class="search">
      <%= render "shared/search" %>
  </div>

  <div class="dot">
    <p class="active-index">Clothes</p>
    <%= link_to outfits_path do  %>
      <p>Outfits</p>
    <% end %>
    <%= link_to tags_path do %>
      <p>Tags</p>
    <% end %>
  </div>

  <%= render "shared/filters" %>
  <%= render "clothes_list" %>
</div>
