<div class="container">
  <h1 class="header">New Clothes</h1>
  <div class="form-new">
    <%= simple_form_for(@clothe) do |f| %>
        <%= f.text_field :name, :placeholder => 'Clothe name' %>
        <%= f.text_field :category, :placeholder => 'Category' %>
        <%= f.text_field :brand, :placeholder => 'Brand name' %>
        <%= f.text_field :size, :placeholder => 'Size' %>
        <%= f.text_field :color, :placeholder => 'Color' %>
        <%= f.text_field :material, :placeholder => 'Fabric' %>
        <%= f.text_field :product_ref, :placeholder => 'Product ref' %>
        <div class="file-select mt-5">
          <label class="button-file">
            <input type="file" name="image" accept="image/*" capture="camera">
          </label>
        </div>
        <div class="create-clothe">
          <%= f.submit %>
        </div>
    <% end %>
  </div>
</div>
