<div class="container" data-controller="edit-tag update-clothe" >

  <div class="show-pic" style="background-image: url('<%= cl_image_path @clothe.photo.key, height: 320, width: 320 %>')">
      <div>
        <h3><i class="fas fa-pencil-alt" data-action="click->update-clothe#displayForm"></i></h3>
      </div>
      <div class="favorite" data-controller="favorite-clothe">
        <% if @clothe.bookmark %>
          <%= icon 'fas', 'heart', data: { cloth_id: @clothe.id, action: 'click->favorite-clothe#favorite'} %>
        <% else %>
          <%= icon 'far', 'heart', data: { cloth_id: @clothe.id, action: 'click->favorite-clothe#favorite'} %>
        <% end %>
      </div>
  </div>


  <div class="clothe-infos">

    <div class="update-clothe-infos">
      <%= simple_form_for @clothe, html: { class: 'd-none', data: { update_clothe_target: 'form', action: 'update-clothe#update'}} do |f| %>
        <div class="form-edit-clothe">
          <%= f.input :name, :label => 'Name: ' %>
          <%= f.input :category, :label => 'Category: ' %>
          <%= f.input :brand, :label => 'Brand: ' %>
          <%= f.input :size, :label => 'Size: ' %>
          <%= f.input :color, :label => 'Color: ' %>
          <%= f.input :material, :label => 'Fabric: ' %>
        </div>
        <%= f.submit %>

        <div class="delete-clothe">
          <%= link_to clothe_path(@clothe), method: :delete, data: { confirm: "Sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
    <% end %>

    <div class="information-clothe" data-update-clothe-target="card">
      <%= render "clothe_information", clothe: @clothe %>
    </div>


    <ul><% @clothe.tags.each do |tag| %>
      <div class="tag-flag show-tag-flag" data-edit-tag-target="card">
        <li><p><%= tag.name %></p></li>
      </div>
    <% end %></ul>
  </div>

  <% if @clothe.bought == true %>
    <div class="add-tag" data-action="click->edit-tag#displayForm">
      <p>Add Tag</p>
      <div>
        <%= simple_form_for [@clothe, @clothes_tag], html: { class: 'd-none', data: { edit_tag_target: 'form', action: 'edit-tag#update' } } do |f| %>
          <%= f.association :tag,
                            as: :check_boxes,
                            collection: @tags,
                            checked: @clothe.tags.ids,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item'  %>
          <%= f.button :submit, "Save", class: "tag-submit" %>
        <% end %>
      </div>
      <div>
        <%#= simple_form_for @new_tag do |f| %>
          <%#= f.input :name %>
          <%#= f.input_field :clothe_id, as: :hidden, value: @clothe.id %>
          <%#= f.submit "Create a new tag", class: "tag-submit" %>
        <%# end %>
      </div>
    </div>
  <% end %>

  <div class="button-add-avatar">
    <%= link_to "Try on avatar", avatar_path(clothe_id: @clothe.id) %>
  </div>
</div>


<div>
    <%# <% @tags.each do |t| %>
      <%# Create a ClothesTag %>
      <%# <%= link_to t.name,  clothe_clothes_tags_path(@clothe, tag_id: t), method: :post %>
    <%# <% end %>
</div>
