<div class="container" data-controller="edit-tag">

  <div class="show-pic" style="background-image: url('<%= cl_image_path @clothe.photo.key, height: 320, width: 320 %>')">
  </div>

  <div class="clothe-infos">
    <h3>Name: <%= @clothe.name %></h3>
    <h3>Category: <%= @clothe.category %></h3>
    <h3>Brand: <%= @clothe.brand %></h3>
    <h3>Size: <%= @clothe.size %></h3>
    <h3>Color: <%= @clothe.colour %></h3>
    <h3>Fabric: <%= @clothe.material %></h3>
    <div class="delete-clothe">
      <%= link_to clothe_path(@clothe), method: :delete, data: { confirm: "Sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <ul><% @clothe.tags.each do |tag| %>
      <div class="tag-flag show-tag-flag" data-edit-tag-target="card">
        <li><p><%= tag.name %></p></li>
      </div>
    <% end %></ul>
  </div>

  <div class="add-tag" data-action="click->edit-tag#displayForm">
    <p>Add Tag</p>
    <div>
      <%= simple_form_for [@clothe, @clothes_tag], html: { class: 'd-none', data: { edit_tag_target: 'form', action: 'submit->edit-tag#update' } } do |f| %>
        <%= f.association :tag,
                          as: :check_boxes,
                          collection: @tags,
                          checked: @clothe.tags.ids,
                          input_html: { class: "tag-selector" },
                          item_wrapper_class: 'tag-item'  %>
        <%= f.button :submit, "Save", class: "tag-submit" %>
      <% end %>
    </div>
    <div>
      <%#= simple_form_for @new_tag do |f| %>
        <%#= f.input :name %>
        <%#= f.input_field :clothe_id, as: :hidden, value: @clothe.id %>
        <%#= f.submit "Create a new tag", class: "tag-submit" %>
      <%# end %>
    </div>
  </div>

  <div class="button-add-avatar">
    <%= link_to "Try on avatar", avatar_path(clothe_id: @clothe.id) %>
  </div>
</div>


<div>
    <%# <% @tags.each do |t| %>
      <%# Create a ClothesTag %>
      <%# <%= link_to t.name,  clothe_clothes_tags_path(@clothe, tag_id: t), method: :post %>
    <%# <% end %>
</div>
