<div class="avatar-page" data-controller="create-clothesoutfits search-clothes">
  <%# Affichage avatar %>
  <div data-search-clothes-target="avatar" id="avatar" style=" background-image: url(https://res.cloudinary.com/detkinqcf/image/upload/v1644343102/avatar-removebg-nofoot-removebg-preview_wm0ler.png); height: 530px; background-size: contain; background-repeat: no-repeat; background-position: center;">

    <%# Carousel des hats %>
    <div id="carouselExampleControls0" class="carousel slide" data-interval="false" >
        <% if @clothe != nil && @clothe.category == "Head" && @clothe.photo.attached? %>
          <div class="carousel-inner ">
            <div class="carousel-item active" id="<%= @clothe.id %>" data-create-clothesoutfits-target="head">
              <%= cl_image_tag @clothe.photo.key, style:"height: 40px;"%>

            </div>
            <% @head.each do |i| %>
              <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="head">
                <%= cl_image_tag i.photo.key, style:"height: 40px;" %>

              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-inner">
              <div class="carousel-item active" id="<%= @head.first.id %>" data-create-clothesoutfits-target="head">
                <%= cl_image_tag @head.first.photo.key,   style:"height: 40px;"%>

              </div>
              <% @head.last(@head.length-1).each do |i| %>
                <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="head">
                  <%= cl_image_tag i.photo.key,   style:"height: 40px;"%>

                </div>
              <% end %>
            </div>
        <% end %>

        <a class="carousel-control-prev" href="#carouselExampleControls0" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls0" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <%# Carousel des Hauts %>

      <div id="carouselExampleControls1" class="carousel slide" data-interval="false" >
        <% if @clothe != nil && @clothe.category == "Chest" && @clothe.photo.attached? %>
          <div class="carousel-inner ">
            <div class="carousel-item active" id="<%= @clothe.id %>" data-create-clothesoutfits-target="chest">
              <%= cl_image_tag @clothe.photo.key, style:"height: 160px;"%>
            </div>
            <% @chest.each do |i| %>
              <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="chest">
                <%= cl_image_tag i.photo.key, style:"height: 160px;" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-inner">
              <div class="carousel-item active" id="<%= @chest.first.id %>" data-create-clothesoutfits-target="chest">
                <%= cl_image_tag @chest.first.photo.key,   style:"height: 160px;"%>
              </div>
              <% @chest.last(@chest.length-1).each do |i| %>
                <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="chest">
                  <%= cl_image_tag i.photo.key,   style:"height: 160px;"%>
                </div>
              <% end %>
            </div>
        <% end %>

        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <%# Carousel des Bas %>
      <div id="carouselExampleControls2" class="carousel slide" data-interval="false" >
        <% if @clothe != nil && @clothe.category == "Leg" && @clothe.photo.attached? %>
          <div class="carousel-inner">
            <div class="carousel-item active" id="<%= @clothe.id %>" data-create-clothesoutfits-target="leg">
              <%= cl_image_tag @clothe.photo.key, style:"height: 270px;" %>
            </div>
            <% @leg.each do |i| %>
              <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="leg">
                <%= cl_image_tag i.photo.key, style:"height: 270px;" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-inner">
              <div class="carousel-item active" id="<%= @leg.first.id %>" data-create-clothesoutfits-target="leg">
                <%= cl_image_tag @leg.first.photo.key, style:"height: 270px;" %>
              </div>
              <% @leg.last(@leg.length-1).each do |i| %>
                <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="leg">
                  <%= cl_image_tag i.photo.key, style:"height: 270px;" %>
                </div>
              <% end %>
            </div>
        <% end %>

        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <%# Carousel des Shoes %>
      <div id="carouselExampleControls3" class="carousel slide" data-interval="false" style="height: 70px;">
        <% if @clothe != nil && @clothe.category == "Foot" && @clothe.photo.attached? %>
          <div class="carousel-inner">
            <div class="carousel-item active" id="<%= @clothe.id %>" data-create-clothesoutfits-target="foot">
              <%= cl_image_tag @clothe.photo.key, style:"height: 70px;" %>
            </div>
            <% @foot.each do |i| %>
              <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="foot">
                <%= cl_image_tag i.photo.key, style:"height: 70px;" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-inner">
              <div class="carousel-item active" id="<%= @foot.first.id %>" data-create-clothesoutfits-target="foot">
                <%= cl_image_tag @foot.first.photo.key, style:"height: 70px;" %>
              </div>
              <% @foot.last(@foot.length-1).each do |i| %>
                <div class="carousel-item" id="<%= i.id %>" data-create-clothesoutfits-target="foot">
                  <%= cl_image_tag i.photo.key, style:"height: 70px;" %>
                </div>
              <% end %>
            </div>
        <% end %>

        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
  <div data-search-clothes-target="avatar" class=" container text-center button-outfit">
      <div class="confirm-style" data-action="click->create-clothesoutfits#displayForm">
        <h3>Save this style</h3>
        <%= simple_form_for(@outfit,  html: { class: 'd-none'},
                            data: {
                              create_clothesoutfits_target: 'form',
                              action: 'submit->create-clothesoutfits#send'
                            }) do |f| %>
          <%= f.input :name %>
          <%= f.submit "Save outfit", class: "button-delete mt-40" %>
        <% end %>

      </div>

    <div class="filter-button" data-action="click->search-clothes#displayFilters" >
      <h3>Filters</h3>

    </div>
  </div>
  <div class="container">
     <%= render "shared/filters" %>
  </div>
</div>
