<h1> Hey c'est ton avatar!</h1>
<p>Taille: <%= @user.height %> </p>


<%= simple_form_for(@outfit) do |f| %>
  <%= f.label :name %>
  <%= f.input :name %>
  <%# <%= f.input :head, as: :select, collection: @head %> %>
  <%= f.label :head %>
  <%= select_tag :head, options_from_collection_for_select(@head, "id", "name"), include_blank: true %>
  <%= f.submit %>
<% end %>


<%= cl_image_tag @clothe.photo.key %>
<%# # crée rle simple for qui rédige vers le create de l'outfit  %>

<%# à la fois dcréer de sobjects outflits et outfit_clothe %>
