
<div class="container">
  <div class="log-avatar">
    <div>
      <p>Welcome back</p>
      <p><%= @user.user_name %></p>
    </div>
    <%= link_to destroy_user_session_path, class: "nav-link", method: :delete  do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
    <% end %>

  </div>

  <div class="home-search">
    <h2>How would you like to dress today?</h2>
    <div class="align-search">
      <div class="search-bar">
        <div class="loup">
          <i class="fas fa-search"></i>
          <%= form_with url: clothes_path, method: :get do |f| %>
            <%= f.text_field :query,
                              class: "form-control",
                              :placeholder => 'Search your outfit',
                              value: params[:query] %>
            <% end %>
        </div>
        <div class="filter">
          <i class="fas fa-filter"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <h3>Categories</h3>
    <ul class="horizontal-list hide-scrollbar"><% @user.tags.each do |tag| %>
      <%= link_to clothes_path(tag_id: tag.id) do %>
        <li><%= render "shared/category", tag: tag %></li>
      <% end %>
    <% end %></ul>
  </div>

  <div class="favorites">
    <h3>Your favorites</h3>
    <ul class="horizontal-list hide-scrollbar"><% @user.clothes.each do |clothe| %>
      <% if clothe.bookmark %>
        <div class="card-product">
          <li><% if clothe.photo.attached? %>
            <%= link_to clothe_path(clothe) do %>
              <div class="product-photo" style="background-image: url('<%= cl_image_path clothe.photo.key, height: 120, crop: :fill %>')">
              </div>
            <% end %>
          <% end %></li>
        </div>
      <% end %>
    <% end %></ul>
  </div>
  <div class="new-collection">
    <h3>New collections</h3>
    <%= render "shared/shop_card" %>
  </div>
</div>
