
<div class="container">
  <div class="log-avatar">
    <div>
      <p>Welcome back</p>
      <p><%= @user.user_name %></p>
    </div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
  </div>

  <div class="home-search">
    <h2>How would you like to dress today?</h2>
    <div class="align-search"><%= render "shared/search" %></div>
  </div>


  <%# <%= render "shared/button_sign_in" %> %>
  <%# <%= render "shared/button_sign_up" %> %>
  <div class="categories">
    <h3>Categories</h3>
    <ul><% @user.tags.each do |tag| %>
      <li><%= render "shared/category", tag: tag %></li>
    <% end %></ul>
  </div>

  <div class="favorites">
    <p>Your favorites</p>
    <ul><% @user.clothes.each do |clothe| %>
      <% if clothe.bookmark %>
        <li class="product-photo" ><%= cl_image_tag clothe.photo.key %></li>
      <% end %>
    <% end %></ul>
  </div>
</div>
