<!DOCTYPE html>
<html>
  <head>
    <title>DressUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-color:<%= controller_name == 'sessions' && action_name == 'new' ? 'rgba(29, 96, 187, 1)' : 'rgba(46, 46, 47, 1)' %>">
    <%= render 'shared/flashes' %>

    <%= yield %>

    <% unless controller_name == "sessions" && action_name == "new"%>
      <%= render 'shared/navbar' %>
    <% end %>

  </body>
</html>
